/* Main Styles for WCS Storegrid Theme */

/* Search styles */
.wcs-storegrid_search.wp-block-search__button-only.wp-block-search__searchfield-hidden .wp-block-search__inside-wrapper {
    overflow: visible !important;
}

.wcs-storegrid_search {
    background-color: inherit;
    overflow: visible !important;
}

.wcs-storegrid_search input{
    width: 150px;
    padding: 0;
    border: 1px solid #ddd;
}

.wcs-storegrid_search button{
    border-radius: 50%;
}
.wcs-storegrid_search button:focus{
    outline: 2px solid var(--wp--preset--color--primary);
    outline-offset: 4px;
}

/* wcs-storegrid main menu styles */
.wcs-storegrid-main-menu .wp-block-navigation-link a{
    color: var(--wp--preset--color--base);
}

.wcs-storegrid-main-menu .wp-block-navigation-link a:hover{
    color: var(--wp--preset--color--primary);
}

/* wcs-storegrid main menu styles end */

/* Start  Responsive styles for storegrid theme */

/* Mobile devices (425px and below) */
@media screen and (max-width: 425px) {
    /*storegrid  footer styles */
    .wcs-storegrid-footer-container .wcs-storegrid-footer-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;    
    }
  
}

/* Tablets and small devices (426px to 768px) */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .wcs-storegrid-footer-container .wcs-storegrid-footer-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
   
}

/* end  Responsive styles for wcs-storegrid theme */

